version: "3.9"
services:
  latex-bot:
    build: .
    platform: linux/arm64
    env_file:
      - src/.env
    working_dir: /app
    volumes:
      - .:/app
    mem_limit: 768m
    logging:
      driver: "json-file"
      options:
        max-size: "2m"
        max-file: "10"
    restart: unless-stopped
